html 
    head 
        title  Pug 
    body 
        div         
            h1 This is heading1 
            h2 This is Heading2 

        div 
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at, tempore quo fugiat officia, vel soluta, praesentium commodi suscipit magnam officiis. Nulla repudiandae at nam amet voluptatibus voluptatem corrupti quia.
         p.background-red Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate quaerat ipsa impedit dolorum non quis atque? Ipsa nam, molestias unde explicabo possimus voluptas, iusto rem at voluptate quasi repellat commodi, ea doloribus nostrum quam enim quo fugit quaerat maxime atque veniam. Aliquid cupiditate libero iste tempora consequatur accusamus nisi maiores laudantium sit necessitatibus pariatur, debitis ullam. Excepturi necessitatibus veniam ut ducimus possimus maiores quos ea, tempore harum itaque nihil ratione ipsam, aliquam a distinctio, quibusdam ullam provident dolorum totam doloremque optio rem? Porro, sunt fugiat repudiandae nihil at assumenda? Eum assumenda praesentium reprehenderit voluptates quisquam, voluptatum voluptatem velit dolor obcaecati hic totam eveniet architecto facilis non magnam consectetur blanditiis illum asperiores fuga veniam ullam numquam sit voluptate fugiat? Fugit unde magnam necessitatibus officiis hic nulla quasi, blanditiis distinctio quia iure? Corrupti error labore rerum animi, quo minus doloribus praesentium eligendi odit minima mollitia sapiente amet autem aliquam consequatur similique incidunt? Fugiat, nihil repudiandae. Accusantium expedita, maiores beatae placeat eligendi eaque adipisci dolores deleniti quam aspernatur facilis inventore optio quo vero delectus possimus officiis ab. Vel fugit aliquam, molestiae iste blanditiis, illo, aperiam possimus eaque cupiditate sapiente deleniti aspernatur dicta iusto ratione. Illum ut ratione, nemo dignissimos voluptate odio ex odit recusandae voluptatem sapiente quia minus mollitia vel! Repellendus, optio sapiente?   

        div 
            select
                option(value="null") Select
                option(value="Parth") Parth
            